html{
   
        margin: 0 auto;
        padding: 0;
        background-color: aqua; 
        /* text-align: center ; */
        font-family:'Times New Roman', Times, serif;
    }

/* *{
    margin-left: auto;
    margin-right: auto;
} */

/* .list-group list-group-flush{
    margin: auto;
    background-color: darkgreen;
} */
